<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%magenta(%d{HH:mm:ss.SSS}) [%15.15thread] %highlight(%-5level) %cyan(%-36.36logger{36}): %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- <logger name="vertx.bittorrent" level="TRACE"/> -->
    <!-- <logger name="vertx.bittorrent" level="DEBUG"/> -->
    <!-- <logger name="vertx.bittorrent" level="INFO"/> -->

    <logger name="vertx.bittorrent.dht" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
